/* здесь используйте глобальные переменные */

$basic-green: #68B738;
$basic-grey: #F2F2F2;
$basic-grey-2: #EBEBEB;
$special-grey: #CDCDCD;
$special-grey-2: #666666;
$special-dark-grey: #444444;
$basic-green: #222222;
$basic-green: #FF8282;
$basic-green-2: #5EAA2F;
$basic-black: #000000;
$basic-white: #ffffff;

