$basic-grey: #f2f2f2;
$basic-grey-2: #ebebeb;
$basic-grey-3: #eaeaea;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special-dark-grey: #444444;
$second-black: #222222;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-black: #000000;
$basic-white: #ffffff;
