.button {
  font-family: $second-font, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;
  background-color: $basic-green;
}
