.catalog__title {
  font-family: $second-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog__section-title {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
