.show-all__title {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: $second-black;
  text-transform: uppercase;
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}
